*.o
*.d
*.Td
OpenBOR.elf
OpenBOR.nro
meta.xml
/engine/version.h
/engine/resources/Info.plist
engine/releases/
/engine/ide/vs/.vs/
/engine/ide/vs/Debug/
/tools/mingit/mingw32
/.vs
engine/resources/OpenBOR.res
tools/bin/.wget-hsts
tools/win-sdk/*
tools/psp-sdk/*
tools/devkitpro/*
tools/
cmake-*
.idea
